<div class="content">
  <input type="file" id="file" name="file" (change)="onFileChange($event)" hidden/>
  <label class="file-btn" for="file">Choose File</label>


  <div class="container">

    <div class="content-container">
      <p class="txt" id="code" [innerHTML]="pyCode"></p>
    </div>

    <div class="content-container">
      <div class="line" *ngFor="let words of wordCollection">
        <span [ngClass]="{
        'keyword': isKeyWord(w),
        'block-label': isBlockLabel(w),
        'buffer-var': isBufferVariable(w),
        'constant': isConstant(w),
        'string': isString(w),
        'comment': isComment(w),
        'fun-call': isFunCall(w)}"
              [innerHTML]="w.text" class="highlightable txt"
              (mouseenter)="hoveredOver(w, words, idx)"
              *ngFor="let w of words; let idx = index"></span>
      </div>
    </div>

  </div>
</div>
