/*
Date: 24 Fev 2015
Author: Pedro Oliveira <kanytu@gmail . com>
*/

.hljs {
  color: #29496b;
  /* background: #282b2e;*/
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #4188be;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: #ea7f26;
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: #629755;
}

.hljs-comment,
.hljs-quote {
  color: #9b9b9b;
}

.hljs-meta {
  color: #bbb529;
}

.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: #558f34;
}

.hljs-section,
.hljs-title,
.hljs-type {
  color: #ffb848;
}

.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #e3ae41;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
